@font-face {
  font-family: 'Apercu Mono';
  src: url('/fonts/Apercu-Mono.eot');
  src: url('/fonts/Apercu-Mono.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Apercu-Mono.woff2') format('woff2'),
    url('/fonts/Apercu-Mono.woff') format('woff'),
    url('/fonts/Apercu-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-Light.eot');
  src: url('/fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Apercu-Light.woff2') format('woff2'),
    url('/fonts/Apercu-Light.woff') format('woff'),
    url('/fonts/Apercu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-Regular.eot');
  src: url('/fonts/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Apercu-Regular.woff2') format('woff2'),
    url('/fonts/Apercu-Regular.woff') format('woff'),
    url('/fonts/Apercu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SangBleu Kingdom';
  src: url('/fonts/SangBleuKingdom-Regular.eot');
  src: url('/fonts/SangBleuKingdom-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/SangBleuKingdom-Regular.woff2') format('woff2'),
    url('/fonts/SangBleuKingdom-Regular.woff') format('woff'),
    url('/fonts/SangBleuKingdom-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SangBleu Kingdom';
  src: url('/fonts/SangBleuKingdom-Medium.eot');
  src: url('/fonts/SangBleuKingdom-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/SangBleuKingdom-Medium.woff2') format('woff2'),
    url('/fonts/SangBleuKingdom-Medium.woff') format('woff'),
    url('/fonts/SangBleuKingdom-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SangBleu Kingdom';
  src: url('/fonts/SangBleuKingdom-MediumItalic.eot');
  src: url('/fonts/SangBleuKingdom-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/SangBleuKingdom-MediumItalic.woff2') format('woff2'),
    url('/fonts/SangBleuKingdom-MediumItalic.woff') format('woff'),
    url('/fonts/SangBleuKingdom-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SangBleu Kingdom';
  src: url('/fonts/SangBleuKingdom-Bold.eot');
  src: url('/fonts/SangBleuKingdom-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SangBleuKingdom-Bold.woff2') format('woff2'),
    url('/fonts/SangBleuKingdom-Bold.woff') format('woff'),
    url('/fonts/SangBleuKingdom-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
